html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

:root {
  --font-family: "Helvetica", sans-serif;
  --second-family: "Helvetica Neue", sans-serif;
  --third-family: "Arsenica Trial", sans-serif;
  --font3: "Inter", sans-serif;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/helvetica-light-587ebe5a59211.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Arsenica Trial";
  src: url("./fonts/ArsenicaTrial-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Arsenica Trial";
  src: url("./fonts/ArsenicaTrial-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ogg";
  src: url("./fonts//Ogg\ Ogg\ Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  line-height: 1;
  font-family: var(--font-family);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1298px;
  margin: 0 auto;
}

/* header */

.header_banner {
  background: #5a57c0;
  padding: 8px 20px;
  text-align: center;
}

.header_banner p {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.header_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Ogg", sans-serif;
  font-weight: 400;
  font-size: 38px;
  letter-spacing: -0.04em;
  color: #000;
  text-decoration: none;
  display: block;
}

.logo span {
  font-style: italic;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 51px;
}

.nav ul a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000;
}

.header_cont-1 {
  display: flex;
  align-items: center;
  gap: 89px;
}

.header_cont {
  padding: 25px 0;
}

.socials {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 21px;
}

.header_cont {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 844px) {
  .nav ul {
    gap: 25px;
  }
}

@media screen and (max-width: 770px) {
  .header_cont-1 {
    gap: 40px;
  }
}

.burger,
.favoirite_mob {
  display: none;
}

.logo-mob {
  display: none;
}

@media screen and (max-width: 709px) {
  .socials > :first-child,
  .socials > :nth-child(3) {
    display: none;
  }

  .nav {
    display: none;
  }

  .burger,
  .favoirite_mob {
    display: block;
  }

  .cont_mob {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  .logo-desk {
    display: none;
  }

  .logo-mob {
    display: block;
  }

  .logo {
    font-size: 35px;
  }
}

/* header */

/* footer */

footer {
  background: #ff6500;
  padding: 56px 0 !important;
}

.footer-top {
  display: flex;
  gap: 100px;
}

.footer-top .logo {
  margin-bottom: 30px;
  color: #fffbf7;
}

.p-12 {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 11px;
}

.p-13 {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 14px;
  max-width: 253px;
}

.footer-top form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
}

.footer-top form input[type="email"] {
  border: 0.8px solid #fff;
  background: transparent;
  padding: 10px;
  width: 100%;
}

.footer-top form input[type="email"],
.footer-top form input[type="email"]::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #fff;
  outline: none;
}

.footer-top form input[type="submit"] {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1c1c1c;
  background: #fff;
  padding: 10px;
  border: none;
}

.p-14 {
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 56px;
  line-height: 86%;
  color: #fff;
}

.footer_nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer_nav ul a {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 12px;
  line-height: 86%;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.footer-top > :first-child,
.footer-top > :last-child {
  flex: 1;
}

.footer-top > :nth-child(2) {
  flex: 3;
}

.footer_nav {
  display: flex;
  justify-content: flex-end;
}

.footer_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 37px;
}

.footer_bottom :first-child {
  display: flex;
  align-items: center;
  gap: 37px;
}

.footer_bottom :first-child a {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.footer_bottom :last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.footer_bottom :last-child p {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
}

.footer-top,
.footer_bottom {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1049px) {
  .p-14 {
    font-size: 40px;
  }

  .footer-top {
    gap: 50px;
  }

  .footer-top > :nth-child(2) {
    flex: 2.5;
  }
}

.footer_nav h3,
.footer_nav_mob,
.mob_footer_bottom {
  display: none !important;
}

.desk {
  display: flex;
  gap: 37px;
}

.desk * {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer-top {
    flex-direction: column;
  }

  .footer_nav h3,
  .footer_nav_mob,
  .mob_footer_bottom {
    display: block !important;
  }

  .mob_footer_bottom > :first-child {
    margin-bottom: 34px;
  }

  .footer_nav {
    justify-content: flex-start;
  }

  .footer_bottom :last-child p {
    display: none;
  }
  .desk {
    display: none;
  }

  .mob_footer_bottom {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #fff;
  }

  .footer-top > :nth-child(2) {
    display: none;
  }

  .footer_nav {
    display: flex;
    flex-direction: column;
    gap: 39px;
  }

  .footer_nav h3 {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 12px;
  }

  .footer_nav ul a {
    text-transform: unset;
  }
}

/* footer */

/* main */

.custom-select {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-selected {
  background-color: #fff;
  padding: 16px;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #565656;
}

.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #000;
  border-top: none;
}

.select-hide {
  display: none;
}

.select-items div {
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #565656;
}

.select-items > :last-child {
  border-bottom: none;
}

.color-switcher {
  display: flex;
  gap: 12px;
  align-items: center;
}

.color-swatch {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  padding: 0;
  transition: transform 0.2s ease-in-out;
}

.color-swatch:hover {
  transform: scale(1.1);
}

.color-swatch.active {
  border: 2px solid #000000;
  box-shadow: 0 0 0 2px white inset;
}

.product_cont {
  display: flex;
  gap: 60px;
}

.product_cont > :first-child {
  flex: 1.4;
}

.product_cont > :last-child {
  flex: 1;
}

.product_cont h2 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 38px;
  text-transform: uppercase;
  color: #1c1c1c;
  margin-bottom: 20px;
}

.price {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #565656;
  margin-bottom: 20px;
}

.desc {
  font-weight: 400;
  font-size: 14px;
  color: #565656;
  margin-bottom: 36px;
}

.art {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #565656;
}

.product_first {
  border-bottom: 0.5px solid rgba(86, 86, 86, 0.4);
  padding-bottom: 22px;
  margin-bottom: 24px;
}

.size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.size p {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #565656;
}

.size > :last-child {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.color > :first-child {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #565656;
  margin-bottom: 13px;
}

.cart_and_favoirte {
  display: flex;
  gap: 13px;
  margin-top: 30px;
}

.cart_and_favoirte > :first-child {
  width: 100%;
  background: #1c1c1c;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  border: none;
  cursor: pointer;
}

.cart_and_favoirte > :last-child {
  background: #f7f7f7;
  border: none;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.accordion {
  width: 100%;
  margin-top: 73px;
}

.accordion-item {
  border-bottom: 0.5px solid rgba(86, 86, 86, 0.4);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #565656;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease;
  font-weight: 400;
  font-size: 14px;
  color: #565656;
}

.accordion-item.active .accordion-arrow {
  transform: rotate(180deg);
}

.accordion-content p {
  margin-bottom: 16px;
}

.product-gallery {
  display: flex;
  gap: 16px;
  max-width: 736px; /* Установите максимальную ширину */
  margin: auto; /* Центрирование */
}

/* Стилизация контейнера с превью */
.swiper-thumbs {
  width: 100px; /* Ширина колонки превью */
  height: 320px; /* Высота должна соответствовать высоте нескольких превью */
  flex-shrink: 0; /* Запрещаем сжиматься */
}

/* Стилизация самих превью */
.swiper-thumbs .swiper-slide {
  height: auto;
  opacity: 0.6; /* Неактивные превью делаем полупрозрачными */
  cursor: pointer;
  transition: opacity 0.3s ease;
  border: 1px solid #ddd;
}

.swiper-thumbs .swiper-slide:hover {
  opacity: 1;
}

/* Стиль для активного превью */
.swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid #000;
}

.swiper-thumbs .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-main {
  width: 100%;
  height: auto; /* Высота подстроится под контент */
}

.swiper-main .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_section {
  margin-bottom: 100px;
}

.swiper-more_products_cont .swiper-slide {
  display: block;
}

.swiper-more_products_cont .swiper-slide img {
  width: 100%;
  margin-bottom: 14px;
}

.zag {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #1c1c1c;
  margin-bottom: 9px;
}

.pr {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #565656;
}

.more_products {
  margin-bottom: 100px;
}

.bread * {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #565656;
  text-decoration: none;
}

.bread {
  margin-bottom: 67px;
  margin-top: 25px;
}

.product_cont,
.swiper-horizontal {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1196px) {
  .product-gallery {
    max-width: 636px;
  }
}

@media screen and (max-width: 1089px) {
  .product-gallery {
    max-width: 536px;
  }
}

.swiper-more_products_cont {
  overflow-x: hidden;
}

@media screen and (max-width: 1089px) {
  .product_cont {
    flex-direction: column;
  }

  .product-gallery {
    max-width: calc(100vw - 40px);
  }
}

@media screen and (max-width: 767px) {
  .product-gallery {
    flex-direction: column-reverse;
  }

  .swiper-vertical > .swiper-wrapper {
    flex-direction: row!;
  }

  .swiper-thumbs {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }

  .more_products {
    margin-bottom: 60px;
  }

  .product_section {
    margin-bottom: 60px;
  }

  .bread {
    margin-bottom: 36px;
    margin-top: 28px;
  }

  .accordion {
    margin-top: 41px;
  }
}

.bread {
  padding-left: 20px;
  padding-right: 20px;
}

/* main */
